.slider {
    width: 100%;
    height: 500px;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .sliderImages {
    display: flex;
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease;
  }
  
  .sliderImage {
    width: 33.33%;
    height: 100%;
  }
  
  .sliderControls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .sliderControls button {
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .sliderControls button:hover {
    color: #ccc;
  }
  
  .sliderControls button:first-child {
    position: absolute;
    left: 10px;
  }
  
  .sliderControls button:last-child {
    position: absolute;
    right: 10px;
  }
  
  .slider:hover .sliderImages {
    animation-play-state: paused;
  }