.container {
    max-width: 600px;
    margin: 0 auto;
    color:white;
  }
  
  .summary {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #1a3b5d;
  }
  
  .content {

    font-size: 1.2rem;
    line-height: 1.5;
  }
  .link {
    color: #0070f3;
    text-decoration: none;
    border-bottom: 1px solid #0070f3;
  }
  
  .link:hover,
  .link:focus,
  .link:active {
    border-bottom-style: dashed;
  }